# Node
node_modules/
dist/
*.log
npm-debug.log*

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Docker Compose - solo subir .example
compose.yaml
compose.dev.yaml
compose.prod.yaml
compose.yml
compose.dev.yml

# Ignore
.ignore/